# Database
DATABASE_URL="mongodb+srv://anastahir446_db_user:WixFBoK6Udhn6v2t@cluster0.x9brpms.mongodb.net/rentalcar?retryWrites=true&w=majority"

# Server
PORT=5000
CLIENT_URL=http://localhost:3000

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# PayPal (using sandbox credentials from config)
PAYPAL_CLIENT_ID=Aeupc8zj_gky1djJPbmkHcg1eIW1OethjI0QI_er2zbmieip5ZXemh0uSk59K4-jCeD8ZfxXw528-I64
PAYPAL_CLIENT_SECRET=EISV5AKyLcWNyymRvM0rj7Z-gWUMsolsgnW-Vszq2ckLCFEQUT2Q1qJPApXtAn7IiahwiHGWHUPPvPDv

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
